{% extends 'base.html.twig' %}

{% block title %}Mod{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Mods
            <small>Voir</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Mods</li>
            <li class="active">Voir</li>
        </ol>
    </section>

    <div class="dashboard1">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mod.idName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ mod.name }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ mod.size }}</td>
            </tr>
            <tr>
                <th>Md5</th>
                <td>{{ mod.md5 }}</td>
            </tr>
            <tr>
                <th>Mod requis ?</th>
                <td>{{ mod.isRequired ?  "Oui": "Non" }}</td>
            </tr>
            <tr>
                <th>Mod actif ?</th>
                <td>{{ mod.isEnabled ? "Oui": "Non" }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ mod.url }}</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6 text-right">
                <a href="{{ path('config_mod_edit', {'id': mod.id}) }}" class="btn btn-warning btn-lg">Editer</a>
            </div>
            <div class="col-md-6">
                <form method="post" action="{{ path('config_mod_delete', {'id': mod.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mod.id) }}">
                    <button class="btn btn-lg btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
        <a href="{{ path('config_mod_index') }}"><i class="fa fa-arrow-left"></i> Retour à la liste</a>


    </div>
{% endblock %}
