{% extends 'base.html.twig' %}

{% block title %}DiscordConfig{% endblock %}

{% block body %}
    <h1>DiscordConfig</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discord_config.id }}</td>
            </tr>
            <tr>
                <th>ClientId</th>
                <td>{{ discord_config.clientId }}</td>
            </tr>
            <tr>
                <th>SmallImageKey</th>
                <td>{{ discord_config.smallImageKey }}</td>
            </tr>
            <tr>
                <th>SmallImageText</th>
                <td>{{ discord_config.smallImageText }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('discord_config_index') }}">back to list</a>

    <a href="{{ path('discord_config_edit', {'id': discord_config.id}) }}">edit</a>

    {{ include('discord_config/_delete_form.html.twig') }}
{% endblock %}
