{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Librairies
            <small>Voir</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Librairies</li>
            <li class="active">Voir</li>
        </ol>
    </section>

<div class="dashboard1">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ library.idName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ library.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ library.type }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ library.size }}</td>
            </tr>
            <tr>
                <th>Md5</th>
                <td>{{ library.md5 }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ library.url }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6 text-right">
            <a href="{{ path('config_library_edit', {'id': library.id}) }}" class="btn btn-warning btn-lg">Editer</a>
        </div>
        <div class="col-md-6">
            <form method="post" action="{{ path('config_library_delete', {'id': library.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ library.id) }}">
                <button class="btn btn-lg btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
    <a href="{{ path('config_library_index') }}"><i class="fa fa-arrow-left"></i> Retour à la liste</a>


    </div>{% endblock %}
