<aside class="main-sidebar">
    <div class="nano">
        <div class="nano-content">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">GENERAL</li>
                <li class="{% if currentPath == "main" %}active{% endif %}">
                    <a href="{{ path('main') }}">
                        <i class="fa fa-dashboard"></i> <span>Accueil</span>
                    </a>
                </li>
                <li class="header">DISCORD</li>
                <li class="{% if currentPath == "discord_config_index" %} active {% endif %}">
                    <a href="{{ path('discord_config_index') }}">
                        <i class="fab fa-discord"></i> <span>Configuration discord</span>
                    </a>
                </li>

                <li class="header">
                    Configuration Launcher
                </li>

                <li class="{% if currentPath == "config_launcher_landing" or
                    currentPath == "config_download" or
                    currentPath == "config_launcher_index"

                %} active{% endif %}">
                    <a href="{{ path('config_launcher_landing') }}">
                        <i class="far fa-rocket"></i> <span>Gestion du launcher</span>
                    </a>
                </li>

                <li class="header">Fichiers</li>


                <li class="{% if currentPath == "config_file_index" or
                    currentPath == "config_file_new" or
                    currentPath == "config_file_edit" or
                    currentPath == "config_file_show" %} active{% endif %}">
                    <a href="{{ path('config_file_index') }}">
                        <i class="far fa-file"></i> <span>Fichiers divers</span>
                    </a>
                </li>

                <li class="{% if currentPath == "config_f_mod_index" or
                    currentPath == "config_f_mod_new" or
                    currentPath == "config_f_mod_edit" or
                    currentPath == "config_f_mod_show" %} active{% endif %}">
                    <a href="{{ path('config_f_mod_index') }}">
                        <i class="fab fa-modx"></i> <span>Mods</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</aside>
