{% extends 'base.html.twig' %}

{% block title %}RessourcePack{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Ressources Packs
            <small>Voir</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Ressources Packs</li>
            <li class="active">Voir</li>
        </ol>
    </section>

    <div class="dashboard1">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ressource_pack.idName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ressource_pack.name }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ ressource_pack.size }}</td>
            </tr>
            <tr>
                <th>Md5</th>
                <td>{{ ressource_pack.md5 }}</td>
            </tr>
            <tr>
                <th>Chemin</th>
                <td>{{ ressource_pack.path }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ ressource_pack.url }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-6 text-right">
                <a href="{{ path('config_ressourcepack_edit', {'id': ressource_pack.id}) }}"
                   class="btn btn-warning btn-lg">Editer</a>
            </div>
            <div class="col-md-6">
                <form method="post" action="{{ path('config_ressourcepack_delete', {'id': ressource_pack.id}) }}"
                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource_pack.id) }}">
                    <button class="btn btn-lg btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
        <a href="{{ path('config_ressourcepack_index') }}"><i class="fa fa-arrow-left"></i> Retour à la liste</a>

    </div>

{% endblock %}
